.container {
  height: 100vh;
  width: 100%;
  background-color: #1e1e28;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: grid;
  overflow: hidden;

  grid-template-columns: 290px auto 70px;
  grid-template-areas: "legend content navbar";
  background-image: url("https://elanta.app/nazar/arter-demo/img/bg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#container {
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.container::-webkit-scrollbar {
  display: none;
}

.container::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: linear-gradient(
    180deg,
    rgb(30, 30, 40, 0.9) 0%,
    rgb(30, 30, 40, 1) 80%
  );
  z-index: 0;
}

.container > * {
  z-index: 1;
}

.content {
  grid-area: content;
  transition: all 0.4s ease-in-out;
  padding: 30px;
  padding-bottom: 0;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  display: grid;
  grid-template-rows: auto 50px;
  grid-template-areas:
    "content"
    "footer";
}

.content::-webkit-scrollbar {
  display: none;
}
