{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="{% static "images/eric.svg" %}" sizes="any"
    type="image/svg+xml">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Poppins:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0ae5297d0d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- SEO -->
    <!-- Primary Meta Tags -->
    <title>Portfolio</title>
    <meta name="title" content="Shubham Kushwaha" />
    <meta
      name="description"
      content="A sophomore at Indian Institute of Information Technology Ranchi, persuing Computer Science and Engineering. 
A full stack Python developer and technical writer."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://eric-liclair.herokuapp.com/" />
    <meta property="og:title" content="Shubham Kushwaha" />
    <meta
      property="og:description"
      content="A sophomore at Indian Institute of Information Technology Ranchi, persuing Computer Science and Engineering. 
A full stack Python developer and technical writer."
    />
    <meta
      property="og:image"
      content="http://eric-liclair.herokuapp.com/media/seo-img.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="http://eric-liclair.herokuapp.com/" />
    <meta property="twitter:title" content="Shubham Kushwaha" />
    <meta
      property="twitter:description"
      content="A sophomore at Indian Institute of Information Technology Ranchi, persuing Computer Science and Engineering. 
A full stack Python developer and technical writer."
    />
    <meta
      property="twitter:image"
      content="http://eric-liclair.herokuapp.com/media/seo-img.png"
    />
  </head>
  <body>
    <div id="main">
      <div id="app"></div>
    </div>
    <script src="{% static 'frontend/main.js' %}"></script>
  </body>
</html>
